.h1 {
  text-align: center;
}

/* contianer of the buttons making them all move in center */
.container {
  position: relative;
  text-align: center;
}

/* background color */
body {
  background-color: cornflowerblue;
}

/* button style */
button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 50%;

}
/* the thing that shows if you win or lose and what the computer chose */
#result {
  font-size: 24px;
  margin-top: 20px;
  margin: auto;
  text-align: center;
}

