  .grad {
background-image: linear-gradient(red, blue);
padding: 40px;
}
body {
    display: flex;
    flex-direction: row;
}

.button{
    width: 150px;
    background-color: green;
    margin: 5px;

}


.container{
    top: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    left: 50%;
    translate: -50%;
    border: 1px solid rgb(114, 250, 209);
    position: absolute;
    display: center;
    
    
}



#Rock {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    background-color: green; 
  }

#Paper {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    background-color: green; 
  }

#Scissors {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    background-color: green; 
    border-color: green;
  }

#Spock {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    background-color: green; 
  }

#Lizard {
        width: 150px; 
        height: 150px; 
        border-radius: 50%; 
        background-color: green; 
      }


.Versus {
    background-image: linear-gradient(red, blue);
position: relative;
margin-left: 944px;
display: center;
margin-top: 130px;

}


.circle {
    height: 50px;
    width: 50px;
    right: 50px;
    background-color: #555;
    right: 100px;
    position: relative;

}

.circle2 {
    height: 50px;
    width: 50px;
    right: 50px;
    background-color: #555; 
}













